{%- extends 'bootstrap/base.html' -%}
{%- import "admin/static.html" as admin_static with context -%}
{% block styles %}
{{ super() }}
<link href="{{ admin_static.url(filename='vendor/bootstrap-daterangepicker/daterangepicker-bs3.css', v='1.3.22') }}" rel="stylesheet">
{% endblock %}

{% block title %}{{ config.brand }}{% endblock %}

{% block navbar -%}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">{{ config.brand }}</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
          {%- block navlist %}
          {%- for conf_region in config.regions -%}
            <li{% if region is equalto conf_region %} class="active"{% endif %}><a href="/region/{{ conf_region }}">{{ conf_region|upper }}</a></li>
          {%- endfor -%}
          {%- endblock %}
          </ul>
        </div>
        <form class="navbar-form navbar-left" action="#" method="post">
          <div class="form-group">
            {{ form.start_date(class="form-control") }} to {{ form.end_date(class="form-control") }} {{ form.submit(class="form-control") }}
        </div>
      </div>
    </nav>
{% endblock -%}

{%- block scripts -%}
{{ super() }}
<script src="{{ admin_static.url(filename='vendor/moment.min.js') }}"></script>
<script src="{{ admin_static.url(filename='admin/js/form.js') }}"></script>
<script src="{{ admin_static.url(filename='vendor/bootstrap-daterangepicker/daterangepicker.js', v='1.3.22') }}"></script>
{%- endblock -%}
