{%- extends "base.html" %}

{% block navbar -%}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">{{ config.brand }}</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
          {%- block navlist %}
          {%- for conf_region in config.regions -%}
            <li{% if region is equalto conf_region %} class="active"{% endif %}><a href="/region/{{ conf_region }}">{{ conf_region|upper }}</a></li>
          {%- endfor -%}
          {%- endblock %}
          </ul>
        </div>
      </div>
    </nav>
{% endblock -%}

{%- block content -%}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>Select a region above</h1>
        </div>
      </div>
    </div>
{%- endblock content -%}
