<!DOCTYPE html>
<html>
  <head>
    {%- block head %}
    <title>{{ config.brand }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    {%- endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">{{ config.brand }}</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
          {%- block navlist %}
          {%- for conf_region in config.regions -%}
            <li{% if region is equalto conf_region %} class="active"{% endif %}><a href="/region/{{ conf_region }}">{{ conf_region|upper }}</a></li>
          {%- endfor -%}
          {%- endblock %}
          </ul>
        </div>
      </div>
    </nav>
    {%- block content %}{% endblock %}
    {%- block footer %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {%- endblock %}
  </body>
</html>
