{%- extends "base.html" %}
{%- block navlist -%}
          <li><a href="/region/dfw">DFW</a></li>
          <li><a href="/region/iad">IAD</a></li>
          <li><a href="/region/ord">ORD</a></li>
          <li><a href="/region/lon">LON</a></li>
          <li><a href="/region/syd">SYD</a></li>
          <li><a href="/region/hkg">HKG</a></li>
{%- endblock navlist -%}
{%- block content -%}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>Select a region above</h1>
        </div>
      </div>
    </div>
{%- endblock content -%}
